body{
    background: #191919;
}
#header{
    background: #232323;
}
#header #logo{
    width: 30px;
}
#header .nav-link{
    color: #d7d3d3;
}
#formPatients{
    margin-top: 40px;
}
#formPatients .form-group,
#formPatients .form-check{
    margin-bottom: 30px;
}
#formPatients .form-group label,
#formPatients .form-check label{
    color: #fff;
}

#formPatients .form-group .error,
#formPatients .form-check .error{
    color: #b50707;
}

a.disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
}
a img#trash{
    width: 30px;
}
a img#pencil{
    width: 30px;
}


/*Register*/
#register .col-md-6{
    margin: 0 auto;
}

#register .col-md-6 label{
    color: #fff;
    font-size: 18px;
}
#register .col-md-6 label.input-group-text{
    background: #fff;
    color: #191919;
}
#register .mb-3{
    margin-top: 30px;
}
#register .col-md-6 .form-control{
    box-shadow: 0 0 0 0;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

#register .col-md-6 select{
    box-shadow: 0 0 0 0;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
#register .col-md-6 span{
    color: #b50707;
}

