@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

body{
    background: #191919;
}
/*HOME*/
#home h1{
    font-family: 'Akshar', sans-serif;
    text-align: center;
    color: #fff;
    margin: 25px;
}
#home .col-md-6 h3{
    color: #fff;
    text-align: center;
    margin: 35px 0;
    font-family: 'Water Brush', cursive;
}
#home .col-md-6 p{
    color: #fff;
}
#home .col-md-6 p a{
    color: #9e9696;
}
#home .col-md-6 img{
    border-radius: 100%;
    height: 200px;
    margin: 0 auto;
    display: block;
}
#home .col-md-6 span{
    font-size: 30px;
    color: #fff;
    display: block;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

#header{
    background: #232323;
    padding: 10px 4rem;
}
#header #logo{
    width: 30px;
}
#header .nav-link{
    color: #d7d3d3;
    font-family: 'Oswald', sans-serif;
}




#formPatients{
    margin-top: 40px;
}
#formPatients .form-group,
#formPatients .form-check{
    margin-bottom: 30px;
}
#formPatients .form-group label,
#formPatients .form-check label{
    color: #fff;
}

#formPatients .form-group .error,
#formPatients .form-check .error{
    color: #b50707;
}

a.disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
}
a img#trash{
    width: 30px;
}
a img#pencil{
    width: 30px;
}






/*div_form*/
#div_form h1{
    font-family: 'Akshar', sans-serif;
    text-align: center;
    color: #fff;
    margin: 25px;
}
#div_form .col-md-6{
    margin: 0 auto;
}

#div_form .col-md-6 label{
    color: #fff;
    font-size: 18px;
}
#div_form .col-md-6 label.input-group-text{
    background: #fff;
    color: #191919;
}
#div_form .mb-3{
    margin-top: 30px;
}
#div_form .col-md-6 .form-control{
    box-shadow: 0 0 0 0;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

#div_form .col-md-6 select{
    box-shadow: 0 0 0 0;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
#div_form .col-md-6 span{
    color: #b50707;
}

