<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>List of Patients</title>

</head>
<body>

    <div layout:fragment="content1" id="home">

        <div class="container">
            <h1>Patient App</h1>
            <div class="row">
                <div class="col-md-6">
                    <h3>About Project:</h3>
                    <p>This project is a website that lists all patient information and has several features depending on the role [User,Admin,Anonymous]:<br>
                        User -> Home page, Search , View patient list<br>
                        Admin -> Home page, Add, Edit, Delete a patient<br>
                        Anonymous -> Home page, Login, Register</p>
                    <a href="https://github.com/ach-code/Patient-Spring-Mvc"></a>

                    <h3>Build With</h3>
                    <p>[Java] <a href="https://www.java.com/en/">https://www.java.com/en/</a></p>
                    <p>[Spring] <a href="https://spring.io/">https://spring.io/</a></p>
                    <p>[Spring Mvc] <a href="https://docs.spring.io/spring-framework/docs/3.2.x/spring-framework-reference/html/mvc.html)">(https://docs.spring.io/spring-framework/docs/3.2.x/spring-framework-reference/html/mvc.html)</a></p>
                    <p>[Spring Security] <a href="https://spring.io/projects/spring-security)">https://spring.io/projects/spring-security)</a></p>
                    <p>[Thymeleaf] <a href="https://www.thymeleaf.org/">https://www.thymeleaf.org/</a></p>
                    <p>[Bootstrap 5] <a href="https://getbootstrap.com/">https://getbootstrap.com/</a></p>
                    <p>[Postgresql] <a href="https://www.postgresql.org/">https://www.postgresql.org/</a></p>
                </div>
                <div class="col-md-6">
                    <h3>Created By:</h3>
                    <img src="https://avatars.githubusercontent.com/u/79743851?v=4" />
                    <a href="https://github.com/ach-code"><span>Aymen Chikeb</span></a>
                </div>
            </div>
        </div>

    </div>

</body>
</html>